@media (max-width: 440px) {

	
	.header-link {
		position: relative;
		bottom: 10px;

	}

	/*----------- Produtos ---------*/

	.principal {
		height: 1640px;
		position: relative;
		top: 100px;
	}

	.produtos {
		width: 1000px;
		border: none;
	}

	.produtos-lista:nth-child(2) {
		position: relative;
		right: 350px;
		top: 500px;
	}

	.produtos-lista:nth-child(3) {
		position: relative;
		right: 680px;
		top: 1080px;
	}

	/*------------ Carrinho -------*/
	#carrinho {
		position: relative;
		top: 150px;
	}

	.secao-carrinho {
		height: 1140px;
		position: relative;
		top: 150px;
	}

	#carrinho-cabecalho {
		font-size: 1em;
	}

	#carrinho-total {
		font-size: 1em;
	}

	.cabecalho-carrinho:nth-child(1) {
		position: relative;
		right: 20px;
	}

	.cabecalho-carrinho:nth-child(2) {
		position: relative;
		right: 50px;
	}

	.cabecalho-carrinho:nth-child(3) {
		position: relative;
		left: 100px;
		bottom: 25px;
	}

	.carrinho-total-detalhes h1{
		font-size: 1em;
	}

	#carrinho-preco {
		font-size: 0.7em;
		position: relative;
	}

	.carrinho-preco {
		position: relative;
		right: 100px;
	}

	#carrinho-preco-total {
		font-size: 1.5em;
		position: relative;
		right: 80px;
	}

	#carrinho-quantidade-input {
		position: relative;
		right: 30px;
		width: 40px;
		margin-bottom: 1em;
	}

	.btn-danger {
		position: relative;
		right: 70px;
	}

/*----------------- Footer --------------------*/

	footer {
		height: 50px;
	}

	footer p {
		font-size: 1em;
	}

}

@media (min-width: 421px) and (max-width: 675px) {
	/*--------- Carrinho -----------*/
	#carrinho-cabecalho {
		font-size: 1.5em;
		padding-bottom: 2em;
	}

	.cabecalho-carrinho:nth-child(1) {
		position: absolute;
		right: 55%;
	}

	.cabecalho-carrinho:nth-child(2) {
		position: absolute;
		right: 20%;
	}

	.cabecalho-carrinho:nth-child(3) {
		position: absolute;
		left: 70%;
	}

	.carrinho-preco {
		position: relative;
		font-size: 2em;
		right: 110px;
	}

	#carrinho-quantidade-input {
		position: relative;
		right: 30px;
		width: 40px;
		margin-bottom: 1em;
	}

	.btn-danger {
		position: relative;
		right: 70px;
	}
}

@media (min-width: 675px) and (max-width: 1033px) {

	#carrinho-cabecalho {
		font-size: 1.5em;
		padding-bottom: 2em;
	}

	.cabecalho-carrinho:nth-child(1) {
		position: absolute;
		right: 70%;
	}

	.cabecalho-carrinho:nth-child(2) {
		position: absolute;
		left: 45%;
	}

	.cabecalho-carrinho:nth-child(3) {
		position: absolute;
		left: 70%;
	}

	#carrinho-quantidade-input {
		position: relative;
		left: 5%;
		width: 60px;
		margin-bottom: 1em;
	}

	.btn-danger {
		position: relative;
		left: 15%;
	}
}